* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    overflow: none;
    width: 100vw;
    height: 100vh;
}

.calcBox{
    width: 20%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    border: 1px solid black;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    width: 50%;
    gap: 20px;
    margin-bottom: 40%;
}

ul li {
    list-style: none;
    font-size: 15px;
}

.caculateBox{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
    justify-content: space-around;
    margin: 0 10%;
    width: 50%;
    height: 50%;
    padding: 10px;
    margin: 0 auto;
}

.totalEcueation{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 50%;
    margin-bottom: 10%;
}

.perfom, .excu{
    text-align: end;
}

div{
    font-size: 20px;
    font-weight: 530;
}

.multi{
    grid-column: 4;
    grid-row: 2;
}

.minus{
    grid-column: 4;
    grid-row: 3;
}

.plus{
    grid-row: 4;
    grid-column: 4;
}

.equal{
    grid-row: 5;
    grid-column: 4;
}


/* Responsive Design */

@media (max-width: 786px){
    .calcBox{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

ul li {
    list-style: none;
    font-size: 14px;
}

.totalEcueation{
     width: 90%;
}

.perfom, .excu{
    text-align: end;
}

.caculateBox{
    margin: 0 5%;
    width: 90%;
    height: 45%;
    padding: 5px;
    margin: 0 auto;
}

div{
    font-size: 25px;
    font-weight: 500;
}

i{
    font-weight: 1000;
}


}




.active {
    background-color: black;
    color: white;
}